@import '../../styles/variables';
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: $white-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  &Top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
  }
  &Bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    .selects {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.auth {
  display: flex;
  gap: 15px;
  align-items: center;
}
.logo {
  font-size: 30px;
  font-weight: 500;
  color: $dark-teal-color;
  cursor: pointer;
}
