@import '../../styles/variables';

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.content {
  position: relative;
  width: 600px;
  padding: 50px 20px 25px;
  border-radius: $radius-8;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  background-color: $white-color;
  &.active {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 50px;
  font-weight: 400;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
