$dark-teal-color: #2b7a78;
$teal-color: #3aafa9;
$white-color: #fafafa;
$dark-color: #555555;
$black-color: #1e1e1e;
$grey-color: #8b8b8b;
$red-color: #ee4949;
$radius-8: 8px;
$radius-20: 20px;

$shadow-dark-20: 5px 5px 12px rgb(0 0 0 / 20%);
$shadow-dark-50: 5px 5px 12px rgb(0 0 0 / 50%);

$shadow-green-60: 5px 5px 12px rgb(43 122 120 / 60%);
