@import '../../styles/variables';
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.buttonsa {
  outline: none;
  border: none;
  background-color: rgba(black, 0);
}
.colorRed {
  color: red;
  
}
.bold{
  font-weight: bold;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
  &Icon {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}
.link {
  font-size: 20px;
  color: $dark-color;
  transition: color 0.2s ease-in-out;
  &.active {
    color: $dark-teal-color;
  }
  &:hover {
    color: $dark-teal-color;
  }
  &Icon {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: $dark-color;
    cursor: pointer;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      color: $dark-teal-color;
      border: 1px solid $dark-teal-color;
      border-radius: 50%;
    }
  }
}
